@font-face {
  font-family: "Sans Bold";
  src: url(../font/product-sans/Product\ Sans\ Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Sans lighter";
  src: url(../font/product-sans/Product\ Sans\ Regular.ttf) format("truetype");
}

*{
  font-family: 'Sans lighter';
}

body {
  background: #fff !important;
  font-family: 'Sans lighter', sans-serif;
}

a {
  text-decoration: none;
  color: #1a1e21;
  font-size: 20px;
}

.nav-link:hover{
  font-weight: bolder;
}

p{
  font-size: 20px;
}

h2, h3{
  color: #403ec2;
  font-weight: bold;
  font-size: 40px;
}

.title-about{
  color: #403ec2!important;
}

.section-title h2 {
  text-shadow: 1px 1px 2px #4444;
}
/*----- Hero -----*/
.jumbotron {
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.title-hero{
  width: 60%;
  font-size: 80px;
  margin-bottom: 30px;
  font-weight: bolder;
  color: rgb(251, 250, 249);
  font-family: 'Sans lighter', sans-serif;
}

.span-hero{
  color: #403ec2;
}

.btn-bg{
  background-color: #403ec2;
  color: white;
}

.btn-bg:hover{
  color: white;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .title-hero{
    width: 80%;
    font-size: 60px;
  }
}

/*****************************



/*----- About -----*/
.about .content {
  padding: 0 80px;
}

.about .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #5f5950;
}

.about .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.about .content p {
  font-size: 15px;
  color: #848484;
}

.about .content p:last-child {
  margin-bottom: 0;
}


@media (max-width: 1024px) {
  .about .content, .about .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .about .content {
    padding-top: 30px;
  }
  .about .accordion-list {
    padding-bottom: 30px;
  }
}

/*----- Courses -----*/
.course .box {
  padding: 10px 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}
.course .box img{
  border-radius: 5px;
}
.course .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #ffcf88;
}
